body {
    background-color: violet;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #444444;
    padding: 10px;
}

h1,h2,h3{
    line-height: 1.2;
}